
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogKjellCoppin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogKjellCoppin.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Side Navbar -->
    <nav class="col-md-2 d-none d-md-block side-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="display: flex; flex-direction: column; align-items: center;">
                    <img class="rounded-circle" src="https://i.ibb.co/X73tJPb/pfpIcon.jpg" alt="about me icon" style="max-width: 75px; height: auto;" />
                    <span>About Me</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="display: flex; flex-direction: column; align-items: center;">
                    <img class="rounded-circle" src="https://i.ibb.co/2v1yzv1/BlogIcon.jpg" alt="Blog icon" style="max-width: 75px; height: auto;" />
                    <span>Blog</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Blog Kjell Coppin - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>